# Default values for backend-parameters.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: backend-parameters
  pullPolicy: IfNotPresent
  # -- Overrides the image tag whose default is the chart appVersion.
  tag: ""

secrets:
  secret-extra-env:
    stringData:
      ENV_VAR2: "value2"
      ENV_VAR3: "value3"
  secret-extra-config:  # <--- Fixed Name (Was missing in your snippets)
    stringData:
      ENV_VAR4: "value4"
      application.secret.properties: |
        secret.key=123456

imagePullSecrets:
# Define secret to pull images. Secret can be provisioned by edp-install or manually.
  - name: regcred
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Automatically mount a ServiceAccount's API credentials?
  automount: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use. If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  dnsWildcard: development.krci-dev.cloudmentor.academy
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    # If need to use specific host, define host value below. By default when set 'edpDefault' FQDN: <CODEBASE_NAME>-<CODEBASE_NAMESPACE>.<CLUSTER_DNS_WILDCARD>
    - host: edpDefault
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

livenessProbe:
  tcpSocket:
    port: http
readinessProbe:
  tcpSocket:
    port: http
  initialDelaySeconds: 20

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes:
  # (Keep your previous volumes here if needed)
  - name: ps-volume
    secret:
      secretName: backend-parameters
      items:
        - key: application.secret.properties.from.ps
          path: application.secret.properties.from.ps

volumeMounts:
  # (Keep your previous mounts here if needed)
  - name: ps-volume
    readOnly: true
    mountPath: /ps-config

# -- https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
nodeSelector: {}

# -- https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
tolerations: []

# -- https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

configMaps:
  cm-extra-env:
    data:
      SERVER_PORT: "8080"
      LOGGING_LEVEL_ROOT: "INFO"
  cm-extra-config:
    data:
      ENV_VAR1: "value1"
      application.properties: |
        server.port=8080
        logging.level.root=INFO

envFrom:
  - configMapRef:
      name: cm-extra-env
  - secretRef:
      name: secret-extra-env

env:
  # (Keep your previous variables here if needed)
  - name: ENV_VAR5
    valueFrom:
      secretKeyRef:
        name: backend-parameters
        key: ENV_VAR5

serviceAccount:
  create: true
  name: "externalsecrets-aws"
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::183631338639:role/krci-cmtr-0oqfemca-assume-role

secretStore:
  enabled: true
  name: aws-parameterstore
  region: eu-central-1

externalSecrets:
  backend-parameters:
    data:
      - secretKey: ENV_VAR5
        remoteRef:
          key: krci-cmtr-0oqfemca-backend-parameters
          property: backend-parameters.ENV_VAR5
      - secretKey: application.secret.properties.from.ps
        remoteRef:
          key: krci-cmtr-0oqfemca-backend-parameters
          property: backend-parameters.config
          decodingStrategy: Base64
